<div class="search-container">
  <div class="search-input-container">
    <div class="search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
    <input 
      type="text" 
      placeholder="Search Bitcoin, Ethereum, etc."
      class="search-input"
      (input)="onSearch($event)"
    >
  </div>
  
  <div *ngIf="searchResults.length > 0" class="search-results">
    <div *ngFor="let crypto of searchResults" class="search-result-item" (click)="selectCrypto(crypto)">
      <div class="search-result-content">
        <img [src]="crypto.imageUrl" alt="{{ crypto.name }}">
        <div>
          <div class="result-name">{{ crypto.name }}</div>
          <div class="result-symbol">{{ crypto.symbol.toUpperCase() }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
